:root {
    /*background*/
    --background-primary: #212121;
    --background-secondary: #D8BFD8;

    /*text*/
    --text-primary: #E0FFFF;
    --text-secondary: #212121;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../../public/fonts/Ubuntu-Light.ttf') format('ttf');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

html,
body {
    font-family:  'Ubuntu', sans-serif;
    max-width: 100vw;
}

body {
    background-color: var(--background-primary);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
